/* --------- GENERAL STYLES --------- */

* {
  font-family: 'DM Sans', sans-serif;
  --grey: #333333;
  --light-grey: #888888;
  color: var(--grey);
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  padding: 150px 15% 150px 15%;
}

section h1 {
  font-size: 3rem;
  padding-bottom: 25px;
  text-align: center;
}

  section h1:hover {
    animation-name: ani-h1-hover;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes ani-h1-hover {
    0% {color: var(--grey);}
    50% {color: var(--light-grey);}
    100% {color: var(--grey);}
  }

  section h2 {
    text-align: center;
  }

section p {
  padding-bottom: 25px;
  line-height: 2rem;
  font-weight: 300;
  font-size: 1.3rem;
  text-align: center;
}

/* General styles - mobile */
@media (max-width: 700px) {
  section {
    padding: 5% 10% 0% 10%;
  }
}


/* --------- NAV BAR --------- */

#navbar {
  background-color: var(--grey);
  font-weight: 700;
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  position: fixed;
  width: 100%;
}

#navbar a {
  text-decoration: none;
  line-height: 50px;
  color: white;
  flex: 1;
  text-align: center;
  height: 100%;
}

  #navbar a:hover {
    animation-name: ani-nav-hover;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes ani-nav-hover {
    0% {background-color: var(--grey);}
    100% {background-color: black;}
  }

/* Navbar - Mobile */

@media (max-width: 700px) {
  #navbar {
    height: 35px;
    font-size: 0.9rem;
  }

  #navbar a {
    line-height: 37px;
  }
}


/* --------- WELCOME SECTION --------- */

#welcome-section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15%;
  animation-name: ani-welcome-bcg;
  animation-duration: 8s;
  animation-iteration-count: 1;
  animation-delay: 2s;
}

  @keyframes ani-welcome-bcg {
    0% {background-color: white;}
    30% {background-color: var(--light-grey);}
    60% {background-color: var(--light-grey);}
    90% {background-color: white;}
  }

  @keyframes ani-welcome-text {
    0% {color: var(--grey);}
    30% {color: white;}
    60% {color: white;}
    90% {color: var(--grey);}
  }

#welcome-item-1 {
  flex: 1;
  text-align: center;
}

#welcome-item-1 h1 {
  font-size: 4rem;
  animation-name: ani-welcome-text;
  animation-duration: 8s;
  animation-iteration-count: 1;
  animation-delay: 2s;
  padding-bottom: 5px;
}

#welcome-item-1 h2 {
  font-size: 2rem;
  font-weight: lighter;
  animation-name: ani-welcome-text;
  animation-duration: 8s;
  animation-iteration-count: 1;
  animation-delay: 2s;
}

#welcome-item-2 {
  flex: 1;
  font-size: 7rem;
  text-align: center;
}

#welcome-item-2 i {
  animation-name: ani-welcome-text;
  animation-duration: 8s;
  animation-iteration-count: 1;
  animation-delay: 2s;
}

/* Welcome - mobile */
@media (max-width: 700px) {
  #welcome-section {
    flex-direction: column;
    padding: 40% 0% 0% 0%;
  }

  #welcome-item-1 {
    height: 100px;
  }

  #welcome-item-1 h1 {
    font-size: 3rem;
  }

  #welcome-item-1 h2 {
    font-size: 1.5rem;
  }

  #welcome-item-2 {
    font-size: 3.5rem;
    margin-top: -150px;
}
}

/* --------- ABOUT SECTION --------- */

#about {
  background-color: #f1f1f1;
}

#about li { /* Soft skills list */
  padding-bottom: 0%;
}

#profile-link {
  background-color: var(--grey);
  color: white;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2rem;
}

#profile-link i {
  color: white;
  margin-top: 35px;
}

#github-link {
  text-align: center;
}

  #profile-link:hover {    
    animation-name: ani-nav-hover;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

/* About - mobile */
@media (max-width: 700px) {
  #about h1 {
    padding-top: 30px;
    margin-bottom: 10px;
  }

  #about p {
    padding-bottom: 25px;
  }

  #about ul {
    margin-bottom: 25px;
  }
  #about li { /* Soft skills list */
    padding-bottom: 10px;
    font-size: 0.9rem;
  }

  #profile-link {
    padding: 5px;  
    font-size: 1rem;
  }
}


/* --------- SKILLS SECTION --------- */

#skills .skills-container {
  display: flex;
  height: 50vh;
  align-content: center;
  background-color: rgba(255, 255, 0, 0.671);
}

#skills .skill {
  flex: 1;
  text-align: center;
  font-size: 1rem;
  align-self: center;
  background-color: rgba(255, 0, 0, 0.527);
}

/* SKILLS HOVER COLOUR ANIMATION */
  @keyframes ani-skill-hover-red {
    0% {text-shadow: 0;}
    100% {text-shadow: rgba(255, 0, 0, 0.527) 5px 5px 20px;}
  }

  @keyframes ani-skill-hover-pink {
    0% {text-shadow: 0;}
    100% {text-shadow: rgba(255, 0, 234, 0.527) 5px 5px 20px;}
  }

  @keyframes ani-skill-hover-green {
    0% {text-shadow: 0;}
    100% {text-shadow: rgba(0, 255, 106, 0.527) 5px 5px 20px;}
  }

  @keyframes ani-skill-hover-yellow {
    0% {text-shadow: 0;}
    100% {text-shadow: rgba(255, 255, 0, 0.671) 5px 5px 20px;}
  }

  @keyframes ani-skill-hover-blue {
    0% {text-shadow: 0;}
    100% {text-shadow: #0370ffbe 5px 5px 20px;}
  }

  .red:hover {
    animation-name: ani-skill-hover-red;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  .pink:hover {
    animation-name: ani-skill-hover-pink;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  .green:hover {
    animation-name: ani-skill-hover-green;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  .yellow:hover {
    animation-name: ani-skill-hover-yellow;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  .blue:hover {
    animation-name: ani-skill-hover-blue;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  
#skills .skill i { /* Tech skill icon */
  font-size: 10rem;
}

/* Skills - mobile */

@media (max-width: 700px) {
  #skills .skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 180px;
  }

  #skills h1 {
    padding-top: 30px;
    margin-bottom: 10px;
  }

  #skills .skill {
    padding-bottom: 20px;
  }
  #skills .skill i {
    font-size: 7rem;
  }
}


/* --------- PROJECTS SECTION --------- */


@keyframes ani-box-shadow {
  0% {box-shadow: 0;}
  100% {box-shadow: var(--light-grey) 5px 5px 10px}
}

#projects {
  background-color: #f1f1f1;
}

.project-tile { /* Container */
  background-color: white;
  border-left: solid lightgrey 5px;
  width: 100%;
  margin: auto;
  margin-bottom: 100px;
  padding: 50px 0 50px 0px;
}

  .project-tile:hover {
    animation-name: ani-box-shadow;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

.project-image { /* Left item */
  flex: 1;
  text-align: center;
}

.project-tile h1 {
  font-size: 2rem;
  padding: 10px 0 15% 0;
}

.project-image img {
  height: auto;
  width: 90%;
  border: solid lightgray 2px;
}

.project-links {
  font-size: 1.2rem;
}

  .project-links a {
    text-decoration: none;
  }

  .project-links a:hover {
    text-decoration: underline;
  }


.project-text { /* Right item */
  flex: 1;
}

.project-text h2 {
  font-size: 1.5rem;
  padding: 10px;
}

.project-text p {
  font-size: 1rem;
  padding: 25px;
}
.project-text i { /* Skill icon */
  font-size: 5rem;
}

.project-text .skills-container {
  display: flex;
  padding: 25px;

}

.project-text .skill {
  flex: 1;
  text-align: center;
  font-size: 1.1rem;
}


/* Projects - mobile */

@media (max-width: 700px) {
  #projects h1 {
    padding-top: 30px;
    margin-bottom: 10px;
  }

  .project-tile { /* Container */
    flex-direction: column;
    margin: 30px 0px 50px 0px;
    padding: 10% 5% 5% 5%;
  }

  .project-tile h1 {
    text-align: center;
  }

  .project-tile h2 {
    padding-bottom: 5px;
  }
}
/* --------- CONTACT SECTION --------- */

#contact {
  height: 100vh;
}

#contact-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  margin-top: 3%;
}

#contact label {
  font-size: 1.2rem;
  margin: 5px 0px 5px 0px;
}

.contact-input {
  margin-bottom: 2%;
}

#name, #email {
  font-size: 1rem;
  height: 2.5rem;
  border: solid lightgray 2px;
  border-radius: 2px;
  padding-left: 10px;
}

#message {
  height: 5rem;
  border: solid lightgray 2px;
  border-radius: 2px;
  font-size: 1rem;
  padding-left: 10px;

}

#submit {
  background-color: var(--grey);
  color: white;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2rem;
  border: none;
  width: 20%;
}

  #submit:hover {
    animation-name: ani-nav-hover;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    cursor: pointer;
  }

#submit i {
  font-size: 0.8rem;
  color: white;
}

/* Contact - mobile */
@media (max-width: 700px) {
  #contact h1 {
    padding-top: 30px;
    margin-bottom: 10px;
  }

  #name, #email, #message {
    margin-bottom: 25px;
  }

  #submit {
    font-size: 1rem;
    width: 100px;
  }
}


/* --------- FOOTER SECTION --------- */

footer {
  display: flex;
  background-color: #f1f1f1;
  height: 100px;
  text-align: center;
  align-items: stretch;
}

.footer-item-link {
  flex: 1;
}

  .footer-item-link a {
    display: block;
    text-decoration: none;
    height: 100%;
  }

  .footer-item-link a:hover {
    animation: ani-footer-hover 0.5s 1;
    animation-fill-mode: forwards;
  }

  .footer-item-link i {
    width: 100%;
    height: 100%;
  }

  .footer-item-link a i:hover {
    animation: ani-footer-hover 0.5s 1;
    animation-fill-mode: forwards;
  }


@keyframes ani-footer-hover {
  0% {background-color: #f1f1f1;}
  100% {background-color: var(--grey); color: white;}
}

.footer-item-link-up {
  font-size: 3rem;
  padding-top: 7%;
}

/* Footer - mobile */
@media (max-width: 700px) {
  .footer-item-link-up {
    font-size: 3rem;
    padding-top: 25px;
  }
}